
body,h1,h2,p,td,quote,small,form,input,ul,li,ol,label{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}

h3{
	color:#FF84CB;
}
body{
	margin-top:20px;
	color:#ff1a8c;
	font-size:13px;
	background-color: #FF84CB;
	text-align:center;
}

.clear{
	clear:both;
}

a, a:visited {
	color:#ff40a0;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

#rounded{
	width:1200px;
	margin:30px auto;
	text-align:left;
}

.container{
	background-color:#ffe6f2;
	padding:10px 20px 20px 20px;
}

h1{
	font-size:28px;
	font-weight:bold;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}

h2{
	font-weight:normal;
	font-size:20px;
	
	color:#999999;
}

ul{
	margin:30px 0px;
}

li{
	list-style:none;
	display:block;
	float:left;
	width:80px;
}

li a,li a:visited{
	padding:10px 15px;
	text-align:center;
	background-color:#FF84CB;
	color:white;
	
	-moz-border-radius:5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;

	display:block;
	margin-right:5px;
}

li a:hover{
	background-color:#666666;
	text-decoration:none;
}

#pageContent{
	margin-top:20px;

	border:10px double	#ff1a8c;
	padding:10px;
		
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#loading{
	visibility:hidden;
}

.footer{
	color:white;
}